.headerComp{
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    border-bottom: 2px solid gray;
}

.logoComp{
    padding: 0px 15px;
}

.infoComp nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;    
}

.infoComp nav ul li{
    padding: 5px 15px;
}

.fields{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    
}

.btnComp{
    /* margin: 0px 15px; */
    padding: 2px 18px;
}

.restaurant{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    float: left;
}

.restaurantComp{
    border: 1px solid black;
    width: 200px;
    padding: 6px 8px;
    margin: 12px 25px;
}

.restaurantComp:hover{
    border-radius: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.restaurantComp img{
    width: 200px;
}

.shimmerCont{
    display: flex;
    flex-wrap: wrap;
}

.shimmerCard{
    border: 1px solid black;
    background-color: #f0f0f0;
    width: 180px;
    height: 380px;
    padding: 6px 8px;
    margin: 12px 25px;
}